<header>
    Project Initiation & Updation Form
</header>
<h2>
    Project Details Form
</h2>
<div class="imgcontainer">
    <img id="imgDRDO" src="./assets/img/DRDO_Logo.jpg">
</div>
<div class="card">
<form id="ProjectDetailsId">
    <label for="pname">Project Name:</label>
    <input type="text" id="pname" name="pname" placeholder="Enter Project Name">

    <label for="pcode">Project Code:</label>
    <input type="text" id="pcode" name="pcode" placeholder="Enter Project Code">

    <label for="sdate">Sanctioned Date:</label>
    <input type="date" id="sdate" name="sdate">

    <label>Revised PDC:</label>
    <input type="radio" id="yes" name="revised" value="yes">
    <label for="yes">Yes</label>
    <input type="radio" id="no" name="revised" value="no">
    <label for="no">No</label>

    <label for="pdcdate">PDC Date:</label>
    <input type="date" id="pdcdate" name="pdcdate" >

    <label for="npdc">Number of Revised PDC:</label>
    <input type="number" id="npdc" name="npdc">

    <label for="fe">Sanctioned Amount:</label>

    <label for="fe">F.E:</label>
    <input type="number" id="fe" name="fe">

    <label for="re">R.E:</label>
    <input type="number" id="re" name="re">

    <button id="SubmitBtn" type="submit">Submit</button>
    <button id="SaveBtn" type="submit">Save</button>
</form>
</div>