<!-- app.component.html -->

<header>
  <h1>WELCOME</h1>
</header>
<div id="LoginCardId" class="card">
  <form id="projectFormId" (ngSubmit)="onSubmit()">
      <div class="imgcontainer">
        <img id="imgDRDO" [src]="'assets/img/DRDO_Logo.jpg'" alt="DRDO Logo">
      </div>

      <div id="User_Pass_id" class="container">
          <label for="uname"><b>Username :</b></label>
          <input type="text" placeholder="Enter Username" name="uname" [(ngModel)]="username" required>
          <br>
          <label for="psw"><b>Password :</b></label>
          <input type="password" placeholder="Enter Password" name="psw" [(ngModel)]="password" required>

          <button id="loginButtonId" type="submit">Login</button>
      </div>
  </form>
</div>
